// base
$theme: #4eabea;
$colorBg: #efefef;
$colorText: #333;
$colorPlaceholder:#b4bccc;

$fontSize:14px;
$fontFamily: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$fontLineHeight:1.5;

$main-width:1200px;

$header-height:120px;

$sidebar-width:200px;